<a href="https://colab.research.google.com/github/jinnyshin54/Test/blob/main/1_Python_basics_1_ipynb%2BNT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Basics

A courtesy of Drs. Hosung Nam (Korea Univ.), Miran Kim (GNU), Minjung Son (Hannam Univ.)

Learning sources: W3schools.com/Python

##Defining Variables

Types of variables: Integers(정수), floating numbers(소수), and strings(문자)

참고: "#" 쓰고 붙이는 말은 코딩이 안돼서 각주 붙일 때 씀

문자열에만 ''또는 " "를 붙여 표기한다.(상황에 따라 문자열에 '또는 "가 쓰인 경우 겹치지 않는 기호를 사용하는 편임 -> 이 경우 둘다 포함된 문자열은 어떻게 처리하는지 궁금)

In [ ]:
a = "3"
print (a, type(a))

3 <class 'str'>

In [ ]:
# x = 3    'Integer 3 is assigned to the variable 'x'
# y = 3.0  'Floating number 3.0 is assigned to the variable 'y'
# z = "3"  'String "3" is assigned to the variable 'z'
# single or double quotes for string (both ends should match.)

x = 3             # variable 'x' type: integer 'int'
y = 3.0           # variable 'y' type: floating number 'float'
z = "3"           # variable 'z' type: string 'str'
Z = 'Character'   # variable 'Z'(capital) type: string 'str'

print(type(x))
print(type(y))
print(type(z))
print(type(Z))
print(Z)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
Character

In [ ]:
# The four fundamental arithmetic operation:

a1 = x + y    # addition
a2 = x - y    # substraction
a3 = x * y    # multiplication
a4 = x/y      # division

print(a1)     # integer + floating = floating
print(a2)
print(a3)
print(a4)

6.0
0.0
9.0
1.0

In [ ]:
# String operation with '+'
# This will concatenate strings

a2 = z + z  # 앞에서 지정한 a2, a3 function은 재지정했는데, 변수값이나 a1, a4 수식은 재지정 안 한 상태인데, 재지정한 값만 변화하고 재지정 안 한 값은 앞에 지정된 값이 그대로 이어진다고 간주하는건가?
a3 = Z + z
print(a2)  # string + string
print(type(a2))   # string 33, not integer 33
print(a3)

33
<class 'str'>
Character3

string manupulation = 문자열 데이터 입력, 수정, 삭제, 조회하는 명령어

In [ ]:
text = "I'm learning Python."
print(text)

I'm learning Python.

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x, y, z)

I'm learning Python

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x + y + z)

I'mlearningPython

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x + ' ' + y + ' ' + z +'.') #space can be added

I'm learning Python.

##Indexing (위치 찾기)
첫자리는 0 (Not 1)

따라서, print (a[1]) 했을 때 첫번째 문자열이 아닌 두번째 문자열이 나옴

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

[2] Data types
Data type is an important concept. Variables can store data of different types, and different types can do different things. Python has the following data types built-in by default:

#Data Types

  Text Type:	str(ing)

  Numeric Types:	int(eger), float(ing)

  Sequence Types:	list, tuple, range

  Mapping Type:	dict(ionary)

🔳 Commonly used types of data: (string, integer, floating numbers), list, dictionary, (tuple)

📍 List data handling

Accessing items in a listdata

Replace items

Adding items

Inserting items

List = 항목 값 변화 가능

Tuple = 항목 값 변화 불가능

set = 집합

In [ ]:
# List: list [1, 2, 3, 4, 5] or ["Python", "is", "awesome"]

listdata = [1, 2, 3, 4, 5]
type(listdata)

list

In [ ]:
# Accessing the data: List data

print(listdata[0])  # 1st element of the list
print(listdata[1])  # 2nd element
print(listdata[2])  # 3rd element
print(listdata[3])  # 4th element
print(listdata[4])  # 5th element

# Negative indexing means start from the end

print(listdata[-1]) # 1st from the end
print(listdata[-2])
print(listdata[-3])
print(listdata[-4])
print(listdata[-5])

print(type(listdata[0]))

1
2
3
4
5
5
4
3
2
1
<class 'int'>

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

 # print (a[2][1]) 은 a 리스트의 3번째 문자열을 찾은 후 해당 문자열이 또 리스트인 상황이기 때문에 그 리스트 중 두번째 문자열을 재지정한 상황임. 두번째 리스트에서 문자열을 지정하지 않은 print(a[2])의 경우 리스트 전체가 프린트 됨.

<class 'list'>
1
a
[3, '4']
4

🔸 Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[2:5])   # From 3rd element before the 6th (exclude 6th element)
print(fruitlist[:5])    # From the 1st element before the 6th (exclude 6th element)
print(fruitlist[-4:-1]) # the first from the end is excluded.
print(fruitlist[-4:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']
['orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Change item values:

fruitlist = ["apple", "banana", "cherry", "orange"]
fruitlist[1] = "grapes"

print(fruitlist[1])
print(fruitlist)

grapes
['apple', 'grapes', 'cherry', 'orange']

In [ ]:
# Change multiple item values:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]
fruitlist[1:3] = ["grapes","banana"]

print(fruitlist)

['apple', 'grapes', 'banana', 'orange', 'kiwi']

In [ ]:
# Add items: append
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]

fruitlist.append("blueberry")
print(fruitlist)

# Length of items in a list: len()

len(fruitlist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'blueberry']

6

In [ ]:
# Add an item in a specific location: listdata.insert()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.insert(0, "blueberry")
fruitlist.insert(2, "raspberry")  # 앞 줄 코드에서 블루베리가 이미 추가된 상황이므로 블루베리-애플 다음에 라즈베리가 들어감
print(fruitlist)

['blueberry', 'apple', 'raspberry', 'banana', 'cherry']

In [ ]:
# Remove items:

fruitlist = ["apple", "banana", "cherry"]

fruitlist.remove("banana")
print(fruitlist)

['apple', 'cherry']

In [ ]:
# item과 index 코딩의 차이?
# (1) Remove specific items: .pop()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.pop(2)  # Remove the 3rd item
print(fruitlist)

# (2) Remove specific index: del

del fruitlist[0] # 앞 줄 코드에서 체리가 사라진 상태이므로 애플을 삭제하면 바나나만 남음
print(fruitlist)

['apple', 'banana']
['banana']

📍 Dict data handling

```
# 코드로 형식 지정됨
```

In [ ]:
# Dictionary: dict {"index1": "value1", "index2": "value2"} , index=지정어 value=출력값 이 둘을 일대일 매치해서 dictionary

dictdata = {'Noun': 'Python', 'Adj': 'awesome', 'Verb': 'is'}
type(dictdata)

dict

In [ ]:
# Accessing the data: Use index for dictionary data

print(dictdata['Noun'])  # 1st element of the list
print(dictdata['Verb'])  # 2nd element
print(dictdata['Adj'])   # 3rd element

print(dictdata['Noun'], dictdata['Verb'], dictdata['Adj'])

Python
is
awesome
Python is awesome

In [ ]:
# Dictionary data with list: 보통 일대일 매칭이 지정어-출력어 단어 한 개로 정해진 값이 아니라 출력어 단위가 리스트가 되어 그 중 하나를 출력해내는 형태

dictdata1 = {'Noun': ["book","table","Birds"], 'Adj': ["expensive","good","awesome"],"Verb": ["is","become","sing"]} # 여기서 보면, 각 품사 지정어의 리스트에 여러 단어가 들어있음

print(dictdata1['Noun']) # 이렇게 출력하면 Noun리스트의 모든 값이 출력된다
print(dictdata1['Noun'][0])   # 1st element of the list with the index 'Noun' # 리스트 중 한 값만 출력하려면 뒤에 몇번째인지 이 형식으로 지정해준다
print(dictdata1['Noun'][1])
print(dictdata1['Noun'][2])

['book', 'table', 'Birds']
book
table
Birds

In [ ]:
a = dictdata1['Noun'][2] #이러한 형태로 a,b 수식을 지정해놓고 프린트할 수 있다(For 조건문과 함께 사용하면 유용함)
b = dictdata1['Verb'][2]

print(a, b)

Birds sing